<header>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <div>
        <h1>Webshop</h1>
        <nav style="margin-bottom: 20px">
            <div class="btn-group btn-group-justified">
                <a routerLink="/" class="btn btn-primary">Shop</a>
                <a routerLink="/warenkorb" class="btn btn-primary">Warenkorb</a>
                <a routerLink="/admin" class="btn btn-primary">Admin</a>
            </div>
        </nav>
    </div>
</header>